version: '3'

services:
  nginx-proxy:
    image: nginxproxy/nginx-proxy
    container_name: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - certs:/etc/nginx/certs
      - vhost:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
    networks:
      - nginx-proxy-network
    restart: always

  acme-companion:
    image: nginxproxy/acme-companion
    container_name: nginx-proxy-acme
    volumes_from:
      - nginx-proxy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - acme:/etc/acme.sh
    environment:
      - DEFAULT_EMAIL=fabriciodribeiro@hotmail.com
    depends_on:
      - nginx-proxy
    restart: always

  homes-app:
    build:
      context: .
      dockerfile: dockerfile
    container_name: homes-app
    environment:
      - VIRTUAL_HOST=cliquenegocio.cloud,localhost
      - LETSENCRYPT_HOST=cliquenegocio.cloud,localhost
      - LETSENCRYPT_EMAIL=fabriciodribeiro@hotmail.com
    expose:
      - "80"
    depends_on:
      - nginx-proxy
      - acme-companion
    networks:
      - nginx-proxy-network
    restart: always

networks:
  nginx-proxy-network:
    name: nginx-proxy-network
    driver: bridge

volumes:
  certs:
  vhost:
  html:
  acme:
